<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.gmail.adkupenov.chorepower"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_64"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/kids_list"
            android:name=".ListKidsActivity">
        </activity>
        <activity
            android:label="@string/task_list"
            android:name=".ListTasksActivity">
        </activity>
    </application>

</manifest>
